[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bitstring = "3.1.9"
pyDH = "0.1.6"
rsa = "4.8"
pycryptodome = "3.14.1"

[dev-packages]

[requires]
python_version = "3.8"
